@font-face {
	font-family: "Ahsing";
	src:
		url("../fonts/Ahsing-Regular.woff2") format("woff2"),
		url("../fonts/Ahsing-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'IcoMoon';
	src:
		url("../fonts/icomoon.woff2") format("woff2"),
		url("../fonts/icomoon.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src:
		url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
		url("../fonts/SFProDisplay-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src:
		url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),
		url("../fonts/SFProDisplay-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
