.footer {
	&__fon{
      background: url(../img/footer/fon.png) no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "Open Sans";
	color: rgb(135, 63, 15);
	@include adaptiveValue("padding-top",60 ,30 );
	@include adaptiveValue("padding-bottom",120 ,60 );
	opacity: 0.7;
	position: relative;
	@media (max-width: toEm(768.98)){
		background-position: left;
	}
	}
	
	
	// .footer__container
	&__container {
	}
	// .footer__box
	&__box {
		
	}
	// .footer__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		row-gap: toRem(50);
			@media (max-width: toEm(768.98)){
			grid-template-columns: repeat(1, 1fr);
		}
	}
	// .footer__item
	&__item {
		display: flex;
		flex-direction: column;
		row-gap: toRem(10);
		
	}
	// .footer__title
	&__title {
		@include adaptiveValue("font-size",24 ,20 );
       
	}
	// .footer__link
	&__link {
		padding: toRem(5) toRem(0);
		display: flex;
		column-gap: toRem(15);
		align-items: center;
		transition: all 0.3s;
		img{
		
			width: toRem(20);
			height: toRem(19);
		}
		@media (any-hover: hover){
			&:hover{
				text-decoration: underline 1px solid black;
            text-underline-offset: 5px;
				& svg {
					transform: scale(1.1);
					transition: all 0.3s;
				}
			}
		}
	}
	&__info{
		text-align: center;
		padding: toRem(20) toRem(0) ;
		font-size: toRem(16);
		
	}
}
.header {
	// .header__logo
	&__logo {
	}
}
.footer-logo {
	text-align: center;
	@include adaptiveValue("margin-bottom",44 ,20 );
	font-size: toRem(45);
}


.footer__giv {
		position: absolute;
		top: 10%;
		left: 3%;
		z-index: 9;
		//display: none;
		max-width: 250px;
     
	}

@media (max-width: toEm(1000)) {
	.footer__giv {
		position: absolute;
		bottom: -5%;
		left: 0%;
		z-index: 9;
		max-width: 150px;
     //display: none;
	}
}

#footer-title{
  font-family: "Caveat", cursive;
  @include adaptiveValue("font-size", 30 ,25 );
}

