.header {
	// .header__title
	//@include adaptiveValue("margin-bottom",77 ,50 );
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50;
	background-color: $mainColor;
	
	// .header__wrapper
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: toRem(25);
		row-gap: toRem(10);
		padding-top: toRem(25);
		@media (max-width:toEm(850.98)){
			padding-top:toRem(10);
			padding-bottom: toRem(10);
	 }
	}
	// .header__logo
	&__logo {
		font-family: "Potta One", serif;
		z-index: 5;
		font-size: toRem(38);
		position: relative;
		padding-bottom: toRem(8);
		.menu-open &  {
			color: $mainColor;
		}
		@media (max-width: toEm(510)){
			  font-size: toRem(30);
		}
	}
	// .header__menu
	&__menu {
		flex-grow: 1;
		
	}
	// .header__actions
	&__actions {
		
		flex-grow: 1;
		justify-content: flex-end;
	}
}
.menu {
	  //Мобільне меню, при натисканні на бургер
		@media (max-width:toEm(850.98)){
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			overflow: auto;
			left: -100%;
			transition: all 0.5s ease 0s;
			z-index: 2;
			padding: toRem(0) toRem(15) toRem(30) toRem(15);
			background-color: $mainColor;
			&::before{
				content: "";
				position: fixed;
				width: 100%;
				@include adaptiveValue("height", 60, 60);
				background-color: $blackColor;
				z-index: 2;
				top: 0;
				left: -100%;
				transition: left 0.5s;
				
			}
			.menu-open & {
				left: 0;
				transition: all 0.5s ease 0s;
				

				&::before {
					left: 0;
				}
			}
		}

	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		row-gap: toRem(7);
		column-gap: toRem(23);
		justify-content: center;
		font-family: "Open Sans";
      
		//Перевертвння мобільного меню
		@media (max-width: toEm(850.98)) {
			margin: 0 auto;
			flex-direction: column;
			row-gap: toRem(15);
			align-items: center;
			justify-content: center;
			padding-top: toRem(80);
        

		}
	}
	// .menu__item
	&__item {
		font-size: toRem(16);
		line-height: 1.5; /* 21/14 */
		padding: toRem(22) toRem(0) toRem(22) toRem(0);
		@media (max-width: toEm(850.98)) {
			padding: toRem(0) toRem(0) toRem(0) toRem(0);
        font-size: toRem(20);

		}
	}
	// .menu__link
	//Підкреслення при наведенні у різні боки
	&__link {
		position: relative;
		&::before {
			content: "";
			height: toRem(1);
			background-color: $blackColor;
			position: absolute;
			top: 100%;
			width: 0;
			left: 50%;
			transition: all 0.3s;
			border-radius: toRem(2);
			margin-top: toRem(2);
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					width: 100%;
					left: 0;
				}
			}
		}
	}
}

.button-actions {
	display: flex;
	column-gap: toRem(37);
	position: relative;
	z-index: 5;

	a {
		padding: toRem(10);
		border: 1px solid;
		border-radius: toRem(10);
		.menu-open &{
			border: 1px solid $mainColor;
			padding: toRem(5);
			
		}
		@media (max-width: toEm(460)){
			  padding: toRem(5);
		}
	}

	@media (max-width: toEm(550.98)) {
		column-gap: toRem(20);

	}
   
	
	@media (any-hover: hover) {


		svg {
			width: 22px;
			height: 22px;
			object-fit: contain;
			transition: all 0.3s;

			&:hover {
				transform: scale(1.1);
			}
		}

		img {
			width: 22px;
			height: 22px;
			object-fit: contain;
			transition: all 0.3s;

			&:hover {
				transform: scale(1.1);
			}
		}


	}
}
//========================================================================================================================================================
//Підключення меню бургер 
//Burger Icon
.icon-menu {
	display: none;

	@media (max-width: toEm(850.98)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		align-self: center;
		

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.5s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: $blackColor;
			z-index: 5;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
				opacity: 0;
			}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
				background-color: $mainColor;
			}

			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
				background-color: $mainColor;
			}
		}
	}
}

/// Обертання бургер меню.
.icon-menu.rotate::before {
	transform: translate(-0%, -0%) rotate(-360deg);
}

.icon-menu.rotate::after {
	transform: translate(-0%, -0%) rotate(360deg);
}

//========================================================================================================================================================

.button-actions{
  svg{
   width: 22px;
		height: 22px;
		object-fit: contain;
		transition: all 0.3s;

  }
    
}



.language{
	position: relative;
	display: block;
	border: none;
	.menu-open & svg{
      path {
			fill:azure;
		}
		
			
	}
}

.lang-dropdown{
	position: absolute;
	left: 48%;
	top: 110%;
	display: none;
	//border: 1px solid red;
	padding: toRem(0) toRem(5);
	
	
	&::before{
		content:'';
		position: absolute;
		width: 100%;
		height: toRem(10);
		border: none;
		top: toRem(-10);
		left: 0;
	}

	a {
		border: none;
		padding: toRem(5);
	}
	
}



.language:hover ~ .lang-dropdown,
.lang-dropdown:hover {
    display: block;
}


.lang-dropdown li{
	//width: toRem(40);
	//height: toRem(35);
	border: 1px solid transparent;
  @media (any-hover: hover){
			&:hover a{
				border: 1px solid red;
			  border-radius: toRem(10);
			  
			}
		}

}