@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1100;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Кольори
$mainColor: #FFFFFF;
$redkColor: #ae5d60;
//$blackColor: #3A3A3A;
$blackColor: #0d5d8c;

$yellowColor: #f29731;







// Функції
@import "_functions.scss";
// Шрифти
//@import "_fonts.scss";
// Іконки
//@import "_icons.scss";
// Обнулення
@import "_reset.scss";
// Компоненти

@import "_header.scss";
@import "_main.scss";

@import "_footer.scss";




body {
	font-family: 'Federo', sans-serif;
	background-color: #ebe4dd;
	
                                

	&.menu-open {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
		
	}

	
}

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	color: $blackColor;

}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: toRem(1130);
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
	
}


//========================================================================================================================================================