@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class^=__icon], [class*=" __icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.__iconarrow-button:before {
  content: "\e902";
  color: #ea4c14;
}

.__iconarrow-deg:before {
  content: "\e903";
}

.__iconarrow-riht:before {
  content: "\e904";
}

.__iconarrow-top:before {
  content: "\e905";
  color: #ea4c14;
}

.__iconminus::after {
  content: "\e906";
  color: #ea4c14;
}

.__iconplus::after {
  content: "\e907";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media (max-width: 65.37375em) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    left: -100%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 2;
    padding: 0rem 0.9375rem 1.875rem 0.9375rem;
    background-color: #FFFFFF;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    background-color: #6E6E6E;
    z-index: 2;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }
}
@media (max-width: 65.37375em) and (min-width: 86.875em) {
  .menu::before {
    height: 5rem;
  }
}
@media (max-width: 65.37375em) and (min-width: 20em) and (max-width: 86.875em) {
  @supports (height: clamp( 4.375rem , 4.1880841121rem  +  0.9345794393vw , 5rem )) {
    .menu::before {
      height: clamp( 4.375rem , 4.1880841121rem  +  0.9345794393vw , 5rem );
    }
  }
  @supports not (height: clamp( 4.375rem , 4.1880841121rem  +  0.9345794393vw , 5rem )) {
    .menu::before {
      height: calc(4.375rem + 0.625 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 65.37375em) and (max-width: 20em) {
  .menu::before {
    height: 4.375rem;
  }
}
@media (max-width: 65.37375em) {
  .menu-open .menu {
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .menu-open .menu::before {
    left: 0;
  }
}
@media (max-width: 65.37375em) {
  .menu__list {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
    padding-top: 6.25rem;
  }
}
.menu__item {
  margin-bottom: 15px;
}
.menu__link {
  position: relative;
}
.menu__link::before {
  content: "";
  height: 0.1875rem;
  background-color: #6E6E6E;
  position: absolute;
  top: 100%;
  width: 0;
  left: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0.125rem;
  margin-top: 0.125rem;
}
@media (any-hover: hover) {
  .menu__link:hover::before {
    width: 100%;
    left: 0;
  }
}

.header {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}
.header__container {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
}
@media (min-width: 86.875em) {
  .header__container {
    padding-top: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (padding-top: clamp( 0.9375rem , 0.1898364486rem  +  3.738317757vw , 3.4375rem )) {
    .header__container {
      padding-top: clamp( 0.9375rem , 0.1898364486rem  +  3.738317757vw , 3.4375rem );
    }
  }
  @supports not (padding-top: clamp( 0.9375rem , 0.1898364486rem  +  3.738317757vw , 3.4375rem )) {
    .header__container {
      padding-top: calc(0.9375rem + 2.5 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .header__container {
    padding-top: 0.9375rem;
  }
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
@media (min-width: 86.875em) {
  .header__row {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-bottom: clamp( 0.0000000625rem , -1.8691587973rem  +  9.3457942991vw , 6.25rem )) {
    .header__row {
      margin-bottom: clamp( 0.0000000625rem , -1.8691587973rem  +  9.3457942991vw , 6.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.0000000625rem , -1.8691587973rem  +  9.3457942991vw , 6.25rem )) {
    .header__row {
      margin-bottom: calc(0.0000000625rem + 6.2499999375 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .header__row {
    margin-bottom: 0.0000000625rem;
  }
}
.header__logo {
  width: 11.5625rem;
  height: 2.0625rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 3;
}
@media (max-width: 40.68625em) {
  .header__logo {
    width: 2.5rem;
    height: 1.6875rem;
  }
}
.header__info {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  font-weight: 600;
}
@media (max-width: 28.18625em) {
  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.625rem;
  }
}
.header__mail {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  position: relative;
}
@media (any-hover: hover) {
  .header__mail:hover {
    text-decoration: underline;
  }
}
.menu-open .header__mail {
  color: white;
  z-index: 3;
}
.header__tel {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  position: relative;
}
@media (any-hover: hover) {
  .header__tel:hover {
    text-decoration: underline;
  }
}
.menu-open .header__tel {
  color: white;
  z-index: 3;
}
.header__body-container {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-self: center;
}
@media (max-width: 37.56125em) {
  .header__body-container {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
.header__fon {
  aspect-ratio: 1600/922;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16.375rem;
     -moz-column-gap: 16.375rem;
          column-gap: 16.375rem;
}
@media (max-width: 65.37375em) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 1.25rem;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.6875rem;
     -moz-column-gap: 4.6875rem;
          column-gap: 4.6875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
}
@media (max-width: 84.12375em) {
  .menu__list {
    -webkit-column-gap: 3.4375rem;
       -moz-column-gap: 3.4375rem;
            column-gap: 3.4375rem;
  }
}
@media (max-width: 76.62375em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}
.menu__link {
  font-size: 1.125rem;
  font-weight: 700;
  text-wrap: nowrap;
}
.menu__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  position: relative;
  z-index: 2;
}
.menu__link--social {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #343434;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__link--social:hover {
    border: 2px solid #EA4C14;
  }
}
.menu__link--social img {
  width: 15px;
  height: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__link--social img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.body-container__box {
  padding: 0rem 0.9375rem 0.9375rem 0.9375rem;
}
.body-container__title {
  margin-bottom: 1.5625rem;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 86.875em) {
  .body-container__title {
    font-size: 4.25rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.875rem , 1.1647196262rem  +  3.5514018692vw , 4.25rem )) {
    .body-container__title {
      font-size: clamp( 1.875rem , 1.1647196262rem  +  3.5514018692vw , 4.25rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.1647196262rem  +  3.5514018692vw , 4.25rem )) {
    .body-container__title {
      font-size: calc(1.875rem + 2.375 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .body-container__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 37.56125em) {
  .body-container__title {
    display: none;
  }
}
.body-container__text {
  margin-bottom: 1.75rem;
  text-align: center;
}
@media (min-width: 86.875em) {
  .body-container__text {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.25rem , 1.0630841121rem  +  0.9345794393vw , 1.875rem )) {
    .body-container__text {
      font-size: clamp( 1.25rem , 1.0630841121rem  +  0.9345794393vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.0630841121rem  +  0.9345794393vw , 1.875rem )) {
    .body-container__text {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .body-container__text {
    font-size: 1.25rem;
  }
}
@media (max-width: 37.56125em) {
  .body-container__text {
    display: none;
  }
}
.body-container__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.5625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem 0.625rem 0rem 0.625rem;
}
@media (max-width: 37.56125em) {
  .body-container__button-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.body-container__button--orang {
  padding: 1.125rem 3.25rem 1.125rem 3.125rem;
  background-color: #EA4C14;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .body-container__button--orang:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    color: #FFFFFF;
  }
}
@media (max-width: 37.56125em) {
  .body-container__button--orang {
    padding: 0.625rem 1.5625rem 0.625rem 1.5625rem;
    display: block;
  }
}
.body-container__button--grey {
  padding: 1.125rem 4.625rem 1.125rem 4.875rem;
  background-color: #6E6E6E;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .body-container__button--grey:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    color: #FFFFFF;
  }
}
@media (max-width: 37.56125em) {
  .body-container__button--grey {
    padding: 0.625rem 1.5625rem 0.625rem 1.5625rem;
    display: block;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 64.74875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 64.74875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 64.74875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #343434;
    z-index: 5;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
    opacity: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: white;
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: white;
  }
}

.icon-menu.rotate::before {
  -webkit-transform: translate(0%, 0%) rotate(-360deg);
      -ms-transform: translate(0%, 0%) rotate(-360deg);
          transform: translate(0%, 0%) rotate(-360deg);
}

.icon-menu.rotate::after {
  -webkit-transform: translate(0%, 0%) rotate(360deg);
      -ms-transform: translate(0%, 0%) rotate(360deg);
          transform: translate(0%, 0%) rotate(360deg);
}

.page__info-container {
  max-width: 1360px;
  margin: 0 auto;
  margin-top: -160px;
}
@media (min-width: 86.875em) {
  .page__info-container {
    margin-bottom: 9.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-bottom: clamp( 5rem , 3.5981308411rem  +  7.0093457944vw , 9.6875rem )) {
    .page__info-container {
      margin-bottom: clamp( 5rem , 3.5981308411rem  +  7.0093457944vw , 9.6875rem );
    }
  }
  @supports not (margin-bottom: clamp( 5rem , 3.5981308411rem  +  7.0093457944vw , 9.6875rem )) {
    .page__info-container {
      margin-bottom: calc(5rem + 4.6875 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .page__info-container {
    margin-bottom: 5rem;
  }
}
@media (max-width: 64.74875em) {
  .page__info-container {
    margin-top: 0px;
  }
}
@media (max-width: 37.56125em) {
  .page__info-container {
    margin-top: 80px;
  }
}

.info-container__items {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 340px));
  padding: 0rem 0.625rem 0rem 0.625rem;
}
@media (max-width: 79.74875em) {
  .info-container__items {
    grid-template-columns: repeat(3, minmax(auto, 340px));
  }
}
@media (max-width: 55.68625em) {
  .info-container__items {
    grid-template-columns: repeat(3, minmax(auto, 240px));
  }
}
@media (max-width: 45.37375em) {
  .info-container__items {
    grid-template-columns: repeat(2, minmax(auto, 240px));
  }
}
@media (max-width: 31.31125em) {
  .info-container__items {
    grid-template-columns: repeat(1, minmax(auto, 100%));
  }
}
.info-container__item {
  border: 1px solid #6E6E6E;
  background-color: #FFFFFF;
}
.info-container__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0rem 0.625rem 0rem 0.625rem;
}
.info-container__wrapper img {
  padding-top: 2.5rem;
  width: 109px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.info-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}
.info-container__title {
  padding-top: 1.75rem;
  text-align: center;
  margin-bottom: 2.625rem;
  font-size: 1.25rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.info-container__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 86.875em) {
  .solution {
    margin-bottom: 6rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-bottom: clamp( 3.125rem , 2.2651869159rem  +  4.2990654206vw , 6rem )) {
    .solution {
      margin-bottom: clamp( 3.125rem , 2.2651869159rem  +  4.2990654206vw , 6rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 2.2651869159rem  +  4.2990654206vw , 6rem )) {
    .solution {
      margin-bottom: calc(3.125rem + 2.875 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .solution {
    margin-bottom: 3.125rem;
  }
}
.solution__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 5.4375rem 0rem 7.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 50.06125em) {
  .solution__top {
    padding: 0rem 1.25rem 0rem 1.25rem;
  }
}
.solution__top::before {
  content: "";
  display: block;
  position: absolute;
  top: 95%;
  width: 68%;
  height: 2px;
  background-color: #EA4C14;
  right: 0;
}
@media (max-width: 40.68625em) {
  .solution__top::before {
    top: 98%;
  }
}
@media (max-width: 75.06125em) {
  .solution__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }
}
.solution__title {
  font-weight: 700;
  max-width: 24.375rem;
}
@media (min-width: 86.875em) {
  .solution__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .solution__title {
      font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .solution__title {
      font-size: calc(1.75rem + 0.4375 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .solution__title {
    font-size: 1.75rem;
  }
}
@media (max-width: 75.06125em) {
  .solution__title {
    max-width: 100%;
  }
}
.solution__img {
  aspect-ratio: 575/293;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 575px;
  max-height: 293px;
}
.button-solution {
  background-color: #EA4C14;
}
.button-solution__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
  padding-top: 2.1875rem;
}
@media (max-width: 66.31125em) {
  .button-solution__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }
}
.button-solution__list {
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 66.31125em) {
  .button-solution__list {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.button-solution__item {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-solution__item:not(:last-child) {
  margin-bottom: 3rem;
}
.button-solution__item svg {
  stroke: black;
}
@media (any-hover: hover) {
  .button-solution__item:hover svg {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    stroke: red;
  }
}
@media (any-hover: hover) {
  .button-solution__item {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .button-solution__item:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #6E6E6E;
    border-radius: 5px;
    top: 100%;
    z-index: 2;
  }
}
.button-solution__link {
  margin-left: 0.9375rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.button-solution__text {
  max-width: 43.75rem;
  line-height: 1.5;
  margin-bottom: 11.875rem;
}
@media (min-width: 86.875em) {
  .button-solution__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1rem , 0.9626168224rem  +  0.1869158879vw , 1.125rem )) {
    .button-solution__text {
      font-size: clamp( 1rem , 0.9626168224rem  +  0.1869158879vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9626168224rem  +  0.1869158879vw , 1.125rem )) {
    .button-solution__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .button-solution__text {
    font-size: 1rem;
  }
}

.scroll-top-container {
  display: block;
  bottom: 20px;
  position: fixed;
  right: 10px;
  z-index: 15;
  opacity: 0.5;
  border: 1px solid transparent;
  padding: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .scroll-top-container:hover {
    border: 1px solid #343434;
    background-color: #BFBFBF;
  }
}
.scroll-top-container img {
  width: 20px;
  height: 67px;
  -o-object-fit: contain;
     object-fit: contain;
}

.open.scroll-top-container {
  opacity: 0;
  overflow: hidden;
}

.proects__container {
  border-left: 2px solid #EA4C14;
}
.proects__wrapper {
  padding: 0rem 7.1875rem 0rem 7.1875rem;
}
@media (max-width: 90.06125em) {
  .proects__wrapper {
    padding: 0rem 3.125rem 0rem 3.125rem;
  }
}
@media (max-width: 37.56125em) {
  .proects__wrapper {
    padding: 0rem 1.25rem 0rem 1.25rem;
  }
}
@media (min-width: 86.875em) {
  .proects__wrapper {
    margin-bottom: 9.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-bottom: clamp( 5rem , 3.5607476636rem  +  7.1962616822vw , 9.8125rem )) {
    .proects__wrapper {
      margin-bottom: clamp( 5rem , 3.5607476636rem  +  7.1962616822vw , 9.8125rem );
    }
  }
  @supports not (margin-bottom: clamp( 5rem , 3.5607476636rem  +  7.1962616822vw , 9.8125rem )) {
    .proects__wrapper {
      margin-bottom: calc(5rem + 4.8125 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .proects__wrapper {
    margin-bottom: 5rem;
  }
}
.proects__title {
  max-width: 29.625rem;
  margin-bottom: 3.75rem;
}
@media (min-width: 86.875em) {
  .proects__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .proects__title {
      font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .proects__title {
      font-size: calc(1.75rem + 0.4375 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .proects__title {
    font-size: 1.75rem;
  }
}
.proects__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.5rem;
}
.proects__form button {
  color: #EA4C14;
  -ms-flex-item-align: end;
      align-self: flex-end;
  right: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .proects__form button:hover {
    color: #6E6E6E;
  }
}
.proects__list {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1.010204fr 1.068027fr 0.653061fr;
}
@media (max-width: 88.81125em) {
  .proects__list {
    margin-bottom: 1.125rem;
  }
}
@media (max-width: 68.81125em) {
  .proects__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 56.31125em) {
  .proects__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 37.56125em) {
  .proects__list {
    grid-template-columns: auto;
  }
}
.proects__list--bottom {
  margin-top: 0.625rem;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 0.853741fr 0.404762fr 0.659864fr 0.77551fr;
  margin-bottom: 1.125rem;
}
@media (max-width: 88.81125em) {
  .proects__list--bottom {
    display: none;
  }
}
.proects .proects__item-hidden {
  display: none;
}
@media (max-width: 88.81125em) {
  .proects .proects__item-hidden {
    display: block;
  }
}
.proects__item {
  border: 1px solid black;
  height: 2.75rem;
}
.proects__item a {
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-wrap: nowrap;
  font-weight: 500;
}

.proects__wrapper-house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.proects__wrapper-house button {
  display: block;
  border: 1px solid #343434;
  max-width: 17.5rem;
  min-width: 17.5rem;
  -ms-flex-item-align: end;
      align-self: end;
  padding: 1.125rem 1.375rem 1.125rem 1.375rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 86.875em) {
  .proects__wrapper-house button {
    margin-top: 3.875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-top: clamp( 2.5rem , 2.0887850467rem  +  2.0560747664vw , 3.875rem )) {
    .proects__wrapper-house button {
      margin-top: clamp( 2.5rem , 2.0887850467rem  +  2.0560747664vw , 3.875rem );
    }
  }
  @supports not (margin-top: clamp( 2.5rem , 2.0887850467rem  +  2.0560747664vw , 3.875rem )) {
    .proects__wrapper-house button {
      margin-top: calc(2.5rem + 1.375 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .proects__wrapper-house button {
    margin-top: 2.5rem;
  }
}
@media (any-hover: hover) {
  .proects__wrapper-house button:hover {
    background-color: #6E6E6E;
  }
}
@media (max-width: 37.56125em) {
  .proects__wrapper-house button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.items-proects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}
@media (max-width: 48.06125em) {
  .items-proects {
    grid-template-columns: 1fr;
  }
}
.items-proects__item {
  max-width: 34.8125rem;
  width: 100%;
  height: 100%;
}
.items-proects__item:nth-child(2) {
  margin-top: -65px;
}
@media (max-width: 76.62375em) {
  .items-proects__item:nth-child(2) {
    margin-top: 0px;
  }
}
@media (max-width: 76.62375em) {
  .items-proects__item:nth-child(8) {
    margin-top: 0px;
  }
}
.items-proects__link {
  margin-bottom: 0.9375rem;
}
.items-proects__foto {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}
.items-proects__box {
  padding: 0.9375rem 1.0625rem 0.625rem 1.375rem;
}
.items-proects__info {
  color: #6E6E6E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  margin-bottom: 0.5rem;
}
.items-proects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
}
.items-proects__row svg {
  stroke: #EA4C14;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -ms-flex-item-align: self-end;
      align-self: self-end;
}
@media (any-hover: hover) {
  .items-proects__row svg:hover {
    stroke: #6E6E6E;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.items-proects__title {
  font-weight: 700;
  overflow: hidden;
  display: block;
}
@media (min-width: 86.875em) {
  .items-proects__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.5625rem , 1.4690420561rem  +  0.4672897196vw , 1.875rem )) {
    .items-proects__title {
      font-size: clamp( 1.5625rem , 1.4690420561rem  +  0.4672897196vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 1.4690420561rem  +  0.4672897196vw , 1.875rem )) {
    .items-proects__title {
      font-size: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .items-proects__title {
    font-size: 1.5625rem;
  }
}
@media (any-hover: hover) {
  .items-proects__title:hover {
    text-decoration: underline;
  }
}

.objects__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 5.3125rem;
}
@media (min-width: 86.875em) {
  .objects__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .objects__title {
      font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .objects__title {
      font-size: calc(1.75rem + 0.4375 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .objects__title {
    font-size: 1.75rem;
  }
}
.objects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
  position: relative;
}
.objects__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 5;
}
@media (max-width: 85.99875em) {
  .objects__items {
    display: none;
  }
}
@media (min-width: 85.99875em) {
  .objects__items {
    position: absolute;
    top: 20%;
    left: 30%;
  }
}
.objects__row-top {
  position: absolute;
  left: -400px;
  display: grid;
  row-gap: 250px;
}
.objects__row-bottom {
  position: absolute;
  right: 400px;
  display: grid;
  row-gap: 250px;
}
.objects__box {
  max-width: 300px;
}
.objects__text {
  color: #6E6E6E;
  line-height: 1.5;
}
.objects__label {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
  text-align: center;
}
.objects__label.activ {
  color: #EA4C14;
}
.objects__box-center {
  display: grid;
  justify-items: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
  max-height: 700px;
  margin: 0 auto;
  padding: 0rem 0.625rem 0rem 0.625rem;
}
.objects__box-center::after {
  content: "";
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: #ECF2f7;
  overflow: hidden;
  z-index: -1;
  display: grid;
  grid-column: 1;
  grid-row: 1;
}
.objects__box-ellips {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  z-index: 3;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media (max-width: 85.99875em) {
  .objects__box-ellips {
    display: none;
  }
}
.objects__box-ellips button {
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  border: 5px solid #6E6E6E;
}
.objects__box-ellips .activ {
  border: 5px solid #EA4C14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.objects__box-ellips .activ::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  background-color: #EA4C14;
}
.objects__box-ellips .ellips-one {
  left: 48px;
  top: 120px;
}
.objects__box-ellips .ellips-two {
  right: 48px;
  top: 120px;
}
.objects__box-ellips .ellips-three {
  left: 60px;
  bottom: 100px;
}
.objects__box-ellips .ellips-four {
  right: 60px;
  bottom: 100px;
}
.objects__foto {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  z-index: 1;
  border-radius: 50%;
  max-width: 500px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 35.06125em) {
  .objects__foto {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media (max-width: 28.18625em) {
  .objects__foto {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
}
.objects__elipse {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
  overflow: hidden;
}

.mobail-object {
  display: none;
}
@media (max-width: 85.99875em) {
  .mobail-object {
    display: block;
    margin-bottom: 6.25rem;
  }
}
.mobail-object__ellips {
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 5px solid #6E6E6E;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.mobail-object__ellips:not(:last-child) {
  margin-bottom: 2.1875rem;
}
.mobail-object__ellips.activ {
  border: 5px solid #EA4C14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobail-object__ellips.activ::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  background-color: #EA4C14;
}
.mobail-object__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}
.mobail-object__item:not(:last-child) {
  margin-bottom: 2.1875rem;
}
.mobail-object__label {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
}
.mobail-object__label.activ {
  color: #EA4C14;
}
@media (min-width: 86.875em) {
  .questions {
    margin-bottom: 10rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-bottom: clamp( 5rem , 3.5046728972rem  +  7.476635514vw , 10rem )) {
    .questions {
      margin-bottom: clamp( 5rem , 3.5046728972rem  +  7.476635514vw , 10rem );
    }
  }
  @supports not (margin-bottom: clamp( 5rem , 3.5046728972rem  +  7.476635514vw , 10rem )) {
    .questions {
      margin-bottom: calc(5rem + 5 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .questions {
    margin-bottom: 5rem;
  }
}
.questions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
  border-left: 2px solid #EA4C14;
  margin-left: 5.3125rem;
  padding: 3.125rem 0rem 8rem 0rem;
}
@media (max-width: 47.18625em) {
  .questions__wrapper {
    display: block;
    margin-left: 0rem;
    border-left: 2px solid transparent;
  }
}
.questions__title {
  margin-bottom: 3.4375rem;
  font-weight: 700;
  padding-left: 4.0625rem;
}
@media (min-width: 86.875em) {
  .questions__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .questions__title {
      font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .questions__title {
      font-size: calc(1.75rem + 0.4375 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .questions__title {
    font-size: 1.75rem;
  }
}
.questions__img {
  display: inline-block;
  aspect-ratio: 455/621;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  margin-left: -5.3125rem;
}
@media (min-width: 86.875em) {
  .questions__img {
    padding-bottom: 7.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (padding-bottom: clamp( 5rem , 4.1588785047rem  +  4.2056074766vw , 7.8125rem )) {
    .questions__img {
      padding-bottom: clamp( 5rem , 4.1588785047rem  +  4.2056074766vw , 7.8125rem );
    }
  }
  @supports not (padding-bottom: clamp( 5rem , 4.1588785047rem  +  4.2056074766vw , 7.8125rem )) {
    .questions__img {
      padding-bottom: calc(5rem + 2.8125 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .questions__img {
    padding-bottom: 5rem;
  }
}
@media (max-width: 47.18625em) {
  .questions__img {
    margin-left: 0rem;
  }
}
.questions__body {
  max-width: 49.0625rem;
  width: 100%;
}
.questions__list {
  border-top: 1px solid #6E6E6E;
  border-bottom: 1px solid #6E6E6E;
}
.questions__item {
  padding: 1.75rem 2.25rem 1.875rem 3.375rem;
  border-top: 0.5px solid #6E6E6E;
  border-bottom: 0.5px solid #6E6E6E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 47.18625em) {
  .questions__item {
    padding: 1.125rem 2.25rem 1.25rem 0.9375rem;
  }
}
.questions__box-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.questions__box-plus.color {
  color: #EA4C14;
  margin-bottom: 2.0625rem;
}
.questions__box-plus.color svg :first-child {
  height: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.questions__box-plus svg {
  width: 18px;
  height: 19px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sub-menu.hidden {
  display: none;
}
@media (min-width: 86.875em) {
  .process {
    margin-bottom: 8.125rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-bottom: clamp( 5rem , 4.0654205607rem  +  4.6728971963vw , 8.125rem )) {
    .process {
      margin-bottom: clamp( 5rem , 4.0654205607rem  +  4.6728971963vw , 8.125rem );
    }
  }
  @supports not (margin-bottom: clamp( 5rem , 4.0654205607rem  +  4.6728971963vw , 8.125rem )) {
    .process {
      margin-bottom: calc(5rem + 3.125 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .process {
    margin-bottom: 5rem;
  }
}
.process__wrapper {
  display: inline-block;
}
@media (min-width: 86.875em) {
  .process__wrapper {
    margin-left: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-left: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem )) {
    .process__wrapper {
      margin-left: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem );
    }
  }
  @supports not (margin-left: clamp( 1.25rem , 0.8761682243rem  +  1.8691588785vw , 2.5rem )) {
    .process__wrapper {
      margin-left: calc(1.25rem + 1.25 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .process__wrapper {
    margin-left: 1.25rem;
  }
}
.process__title {
  font-weight: 700;
  margin-bottom: 2.8125rem;
}
@media (min-width: 86.875em) {
  .process__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .process__title {
      font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .process__title {
      font-size: calc(1.75rem + 0.4375 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .process__title {
    font-size: 1.75rem;
  }
}
.process__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.process__link > :not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (any-hover: hover) {
  .process__link:hover a {
    color: #EA4C14;
    margin-bottom: 0rem;
  }
  .process__link:hover .sub-menu__list.sub-menu {
    display: block;
    padding-bottom: 0.9375rem;
    margin-top: 0.9375rem;
  }
  .process__link:hover svg {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    stroke: #EA4C14;
  }
}
.process__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
.process__row svg {
  stroke: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sub-menu__list.sub-menu {
  display: none;
  margin-left: 1.75rem;
}

.discuss {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 40.37375em) {
  .discuss {
    height: 100dvh;
  }
}
.discuss__wrapper {
  margin: 0 auto;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 53.25rem;
  color: #FFFFFF;
  padding: 0rem 0.9375rem 0rem 0.9375rem;
}
.discuss__title {
  font-weight: 600;
  margin-bottom: 1.875rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 86.875em) {
  .discuss__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .discuss__title {
      font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .discuss__title {
      font-size: calc(1.75rem + 0.4375 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .discuss__title {
    font-size: 1.75rem;
  }
}
.discuss__text {
  line-height: 1.2;
  margin-bottom: 1.25rem;
  color: #BFBFBF;
}
@media (min-width: 86.875em) {
  .discuss__text {
    font-size: 1.625rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.375rem , 1.3002336449rem  +  0.3738317757vw , 1.625rem )) {
    .discuss__text {
      font-size: clamp( 1.375rem , 1.3002336449rem  +  0.3738317757vw , 1.625rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.3002336449rem  +  0.3738317757vw , 1.625rem )) {
    .discuss__text {
      font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .discuss__text {
    font-size: 1.375rem;
  }
}
.discuss__buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media (max-width: 48.06125em) {
  .discuss__buttom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.discuss__buttom button {
  padding: 1.125rem 3.75rem 1.0625rem 3.75rem;
  outline: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  max-width: 320px;
  width: 100%;
  text-transform: uppercase;
}
.discuss__buttom-white {
  background-color: #FFFFFF;
  color: #343434;
}
@media (any-hover: hover) {
  .discuss__buttom-white:hover {
    outline: 3px solid black;
    background-color: #BFBFBF;
  }
}
.discuss__buttom-orange {
  background-color: #EA4C14;
}
@media (any-hover: hover) {
  .discuss__buttom-orange:hover {
    outline: 3px solid black;
    background-color: #c34010;
  }
}
.discuss__foto {
  aspect-ratio: 1600/900;
  display: grid;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer__box {
  position: relative;
  background-color: #292929;
}
.footer__box::before {
  content: "";
  position: absolute;
  width: 40%;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #343434;
  z-index: 1;
}
.footer__items {
  background-color: #343434;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  position: relative;
  z-index: 3;
}
@media (max-width: 64.06125em) {
  .footer__items {
    grid-template-columns: 1fr;
  }
}
.footer__padding {
  padding-left: 6.25pxrem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0rem 0.625rem 1.875rem 0.625rem;
}
@media (max-width: 48.06125em) {
  .footer__padding {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.footer__contacts {
  background-color: #292929;
  padding-top: 3.75rem;
}
.footer__title {
  margin-bottom: 2.0625rem;
}
@media (min-width: 86.875em) {
  .footer__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .footer__title {
      font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 1.6191588785rem  +  0.6542056075vw , 2.1875rem )) {
    .footer__title {
      font-size: calc(1.75rem + 0.4375 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__title {
    font-size: 1.75rem;
  }
}
.footer__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  row-gap: 0.9375rem;
}
@media (min-width: 86.875em) {
  .footer__number {
    margin-bottom: 3.625rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.351635514rem  +  2.6168224299vw , 3.625rem )) {
    .footer__number {
      margin-bottom: clamp( 1.875rem , 1.351635514rem  +  2.6168224299vw , 3.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.351635514rem  +  2.6168224299vw , 3.625rem )) {
    .footer__number {
      margin-bottom: calc(1.875rem + 1.75 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__number {
    margin-bottom: 1.875rem;
  }
}
@media (any-hover: hover) {
  .footer__number a :hover {
    text-decoration: underline;
  }
}
.footer__mail {
  color: #EA4C14;
  position: relative;
  max-width: 160px;
}
.footer__mail:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__mail:hover::before {
  content: "";
  position: absolute;
  width: 98%;
  top: 105%;
  height: 2px;
  background-color: #EA4C14;
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}
@media (min-width: 86.875em) {
  .footer__address {
    margin-bottom: 3.625rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-bottom: clamp( 1.875rem , 1.351635514rem  +  2.6168224299vw , 3.625rem )) {
    .footer__address {
      margin-bottom: clamp( 1.875rem , 1.351635514rem  +  2.6168224299vw , 3.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 1.351635514rem  +  2.6168224299vw , 3.625rem )) {
    .footer__address {
      margin-bottom: calc(1.875rem + 1.75 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__address {
    margin-bottom: 1.875rem;
  }
}
.footer__item {
  padding-top: 3.75rem;
}
@media (min-width: 86.875em) {
  .footer__title-item {
    margin-bottom: 5.5rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-bottom: clamp( 2.5rem , 1.6028037383rem  +  4.4859813084vw , 5.5rem )) {
    .footer__title-item {
      margin-bottom: clamp( 2.5rem , 1.6028037383rem  +  4.4859813084vw , 5.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.5rem , 1.6028037383rem  +  4.4859813084vw , 5.5rem )) {
    .footer__title-item {
      margin-bottom: calc(2.5rem + 3 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__title-item {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 86.875em) {
  .footer__title-item {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (font-size: clamp( 1.375rem , 1.2254672897rem  +  0.7476635514vw , 1.875rem )) {
    .footer__title-item {
      font-size: clamp( 1.375rem , 1.2254672897rem  +  0.7476635514vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.2254672897rem  +  0.7476635514vw , 1.875rem )) {
    .footer__title-item {
      font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__title-item {
    font-size: 1.375rem;
  }
}
.footer__link:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (any-hover: hover) {
  .footer__link:hover a {
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
  }
}
.footer .footer__under {
  background-color: #292929;
  position: relative;
  z-index: 3;
  color: #FFFFFF;
}
.footer .under__container {
  padding: 2.3125rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.working-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
}
@media (min-width: 86.875em) {
  .working-hours {
    margin-bottom: 4.25rem;
  }
}
@media (min-width: 20em) and (max-width: 86.875em) {
  @supports (margin-bottom: clamp( 2.1875rem , 1.5706775701rem  +  3.0841121495vw , 4.25rem )) {
    .working-hours {
      margin-bottom: clamp( 2.1875rem , 1.5706775701rem  +  3.0841121495vw , 4.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.1875rem , 1.5706775701rem  +  3.0841121495vw , 4.25rem )) {
    .working-hours {
      margin-bottom: calc(2.1875rem + 2.0625 * (100vw - 20rem) / 66.875);
    }
  }
}
@media (max-width: 20em) {
  .working-hours {
    margin-bottom: 2.1875rem;
  }
}

.menu__social--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  padding-bottom: 30px;
}
.menu__link--footer {
  width: 40px;
  height: 40px;
  border: 2px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__link--footer:hover {
    border: 2px solid #EA4C14;
  }
}
.menu__link--footer img {
  width: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .menu__link--footer img:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }
}

.sub-menu__footer {
  margin-left: 1.25rem;
  display: none;
  margin-bottom: 3.5625rem;
}
.sub-menu__link {
  color: #FFFFFF;
  font-size: 0.875rem;
}
.sub-menu__link:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (any-hover: hover) {
  .sub-menu__link:hover a {
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
  }
}

.footer__link--hover:hover .sub-menu__footer {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body.menu-open {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 86.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}