
.popular {
	// .popular__container
	&__container {
		@include adaptiveValue("padding-top", 140, 50);
		
	}
	// .popular__title
	&__title {
		text-align: center;
		font-family: "Gelasio";
		font-weight: 500;
		@include adaptiveValue("font-size", 43, 28);
		line-height: 1.4;
		margin-bottom:toRem(20);
	}
	// .popular__text
	&__text {
		p{
			text-align: center;
			:not(:last-child){
				margin-bottom:toRem(50) ;
			}
		}
	}
	// .popular__columl
	&__columl {
		display: grid;
	}
	// .popular__item
	&__item {
	}
	// .popular__link
	&__link {
		max-width: 360px;
		img{
			aspect-ratio: 360 / 331;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .popular__info
	&__info {
	}
}
.info-popular {
	// .info-popular__label
	&__label {
	}
	// .info-popular__text
	&__text {
	}
}


//========================================================================================================================================================


//========================================================================================================================================================